@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

* {
    margin: auto;
    padding: auto;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

html,
body,
.grid {
    height: 100%;
}

.grid {
    width: 80%;
}

header {
    color: rgb(28, 129, 24);
    padding: 2em;
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    margin: 1em auto;
}

header p,
header h1 {
    background-color: white;
    border: 5px solid white;
    border-radius: 5px;
}

.alt-title {
    width: 100%;
    font-size: 2.5em;
}

.info {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
}
nav ul li {
    display: inline-block;
    margin: 1.5rem;
}
nav ul li a {
    color: black;
}

.tv {
    display: flex;
    flex-direction: row;
    width: 100%; 
    height: 600px; 
    background-color: rgba(30, 102, 66, 0.8); 
    color: white;
}

.landing-screen {
    height: 100%;
    min-height: 400px;
    max-height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
}
.landing-screen .intro {
    margin-left: 10%;
    color: white;
}

.sm-videos {
    width: 25%; 
    height: 90%; 
    overflow:  scroll;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.3);
}

.sm-video {
    height: 80px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2%;
    padding: 2%;
    border-radius: 3px;
}

.sm-video:hover {
    transition: all 0.2s ease-in-out;
    background-color: rgba(13, 39, 26, 0.8);
}

.sm-video-img {
    height: 90%;
    width: 40%;
    margin-left: 2%;
}

#shows {
    background-color: rgba(61, 179, 118, 0.5);
}

#shows h1 {
    padding-top: 30px;
}

.show {
    display: inline-block;
    height: 356px;
    width: 33.3%;
    background-color: wheat;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.4s ease-in-out;
}

.show:hover {
    opacity: 1;
}

#about,
#contact {
    width: 100%;
    padding-top: 60px;
}

#about p {
    width: 50%;
}

#contact {
    color: white;
    background-color: rgba(9, 65, 31, 0.8);
}

#contact h3 {
    padding-right: 5%;
    padding-left: 5%;
}

.social-accounts a {
    display: inline-block;
    color: white;
    margin: 2%;
    opacity: 0.8;
    transition: all 0.1s ease-in-out;
}

.social-accounts a:hover {
    opacity: 1;
}

.member {
    display: inline-block;
    vertical-align: top;
    width: 170px;
    margin: 30px 20px;
    font-family: 'Open Sans', sans-serif;
}

.member p {
    font-size: 15px;
}

.member h3 {
    margin-top: 10px;
}

footer {
    background-color: rgba(61, 179, 118, 0.5);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}

@media only screen and (max-width: 800px) {
    .grid {
        width: 100%;
    }

    .landing-screen {
        font-size: 1.2em;
    }

    .landing-screen .intro {
        margin: 5%;
    }

    nav ul {
        display: none;
    }

    .logo {
        padding: 5px;
    }

    .show {
        width: 100%;
        height: 200px;
    }

    #shows {
        width: 100%;
        padding: 0;
    }

    #about,
    #contact {
        width: 100%;
    }
    
    #about p {
        width: 80%;
    }

    iframe {
        width: 100%;
        height: 240px;
    }
}