@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: auto;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

html,
body,
.grid {
    height: 100%;
}

.grid {
    text-align: center;
}

nav {
    position: fixed;
    border-bottom: 1px solid rgba(199, 199, 199, 0.5);
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

nav ul li {
    display: inline-block;
    margin: 1.5rem;
}

nav ul li a {
    color: black;
}

.dropdown {
    display: none;
}

.hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.landing-screen {
    background-image: url("/assets/images/windmill.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
}

.intro {
    margin-left: 10%;
    color: white;
}

.about p {
    margin: 2em;
}

#shows,
#about,
#contact {
    padding: 30px;
}

@media only screen and (max-width: 800px) {
    .dropdown {
        display: inline-block;
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        display: block;
    }

    .dropdown:active .dropdown-content {
        display: block;
    }

    .hamburger {
        display: inline;
        margin: 1.2rem;
        cursor: pointer;
    }

    .landing-screen {
        font-size: 1.2em;
    }

    .intro {
        margin: auto;
    }

    nav ul {
        display: none;
    }
}